@tailwind base;
@tailwind components;
@tailwind utilities;

/*   fonts - start   */

@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald.ttf") format("truetype");
}

.oswald-text {
  font-family: "Oswald", sans-serif;
}

/*   fonts - end   */

/* scrollbar styles - start */

.custom_scrollbar {
  scrollbar-color: #3b3b3c #2a2a2a00;
}

.custom_scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom_scrollbar::-webkit-scrollbar-track {
  background: #2a2a2a00;
}

.custom_scrollbar::-webkit-scrollbar-thumb {
  background-color: #3b3b3c;
}

/* scrollbar styles - end */

/*   masking - start   */

.mask-containerTop {
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: mask-image 0.3s ease;
}

.mask-containerRight {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: mask-image 0.3s ease;
}

.mask-containerBottom {
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: mask-image 0.3s ease;
}

/*   masking - end   */

/*   floating label input - start   */

.floating-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
  position: relative;
  color: #fff;
}

.floating-input-wrapper label {
  position: relative;
}

.floating-input-wrapper label .floating-label-input {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 30px 5px 10px;
  outline: 0;
  border-radius: 10px;
}

.floating-input-wrapper label .floating-label-input + span {
  color: #ffffff80;
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.floating-input-wrapper label .floating-label-input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.floating-input-wrapper label .floating-label-input:focus + span,
.floating-input-wrapper
  label
  .floating-label-input:not(:placeholder-shown)
  + span {
  color: #00bfff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.floating-label-input {
  font-size: medium;
}

/*   floating label input - end   */

/*   pulsating dot - start   */

.pulsating-dot {
  position: relative;
  color: #00bfff;
}

.pulsating-dot::after {
  animation: pulse 1s linear infinite;
}

.pulsating-dot::before,
.pulsating-dot::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

/*   plusating dot - end   */
