@tailwind base;
@tailwind components;
@tailwind utilities;

/* masking - start */

.mask-containerEnd {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: mask-image 0.3s ease;
}

/* masking - end */
